<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alliswell.mapper.BrandMapper">
    <resultMap id="brandMap" type="brand">
        <id property="id" column="b_id"/>
        <result property="name" column="b_name"/>
    </resultMap>
    <select id="selById" parameterType="int" resultMap="brandMap">
        select * from t_brand where b_id = #{id,javaType=int}
    </select>
    <select id="selAll" resultMap="brandMap">
        select * from t_brand
    </select>
    <delete id="delById">
        delete from t_brand where b_id = #{id}
    </delete>
    <insert id="insBrand" parameterType="Brand">
        insert into t_brand(b_name) value(#{name,jdbcType=VARCHAR})
    </insert>
    <update id="updBrand" parameterType="Brand">
        update t_brand
        <set>
            <if test="name != null and name != ''">
                b_name = #{name,jdbcType=VARCHAR}
            </if>
        </set>
        where b_id = #{id}
    </update>
    <select id="selPaging" parameterType="Brand" resultMap="brandMap">
        select * from t_brand limit #{param1},#{param2}
    </select>
</mapper>