<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alliswell.mapper.GoodsMapper">
    <resultMap id="goodsMap" type="goods">
        <id property="id" column="g_id" />
        <result property="name" column="g_name"/>
        <result property="price" column="g_price"/>
        <result property="date" column="g_creTime"/>
        <association property="category" javaType="Category" select="com.alliswell.mapper.CategoryMapper.selById" column="c_id" />
        <association property="brand" javaType="Brand" select="com.alliswell.mapper.BrandMapper.selById" column="b_id" />
    </resultMap>
    <select id="selAll" resultMap="goodsMap">
        select * from t_goods
    </select>
    <select id="selPaging" resultMap="goodsMap">
        select * from t_goods limit #{param1},#{param2}
    </select>
    <select id="selCount" resultType="int">
        select count(g_id) from t_goods
    </select>
    <select id="selByType" resultMap="goodsMap">
        select * from t_goods
            <where>
                <choose>
                    <when test="param1=='id' and param2 != null and param2 != ''">
                        g_id = #{param2}
                    </when>
                    <when test="param1=='name' and param2 != null and param2 != ''">
                        or g_name like concat('%',#{param2},'%')
                    </when>
                    <when test="param1=='category' and param2 != null and param2 != ''">
                        or c_id = (select c_id from t_category where c_name like concat('%',#{param2},'%'))
                    </when>
                    <when test="param1=='brand' and param2 != null and param2 != ''">
                        or b_id = (select b_id from t_brand where b_name like concat('%',#{param2},'%'))
                    </when>
                    <otherwise>
                        or g_id = #{param2}
                        or g_name like concat('%',#{param2,javaType=string},'%')
                        or c_id = (select c_id from t_category where c_name like concat('%',#{param2,javaType=string},'%'))
                        or b_id = (select b_id from t_brand where b_name like concat('%',#{param2,javaType=string},'%'))
                    </otherwise>
                </choose>
            </where>
    </select>
    <select id="delById" parameterType="int">
        delete from t_goods where g_id = #{id}
    </select>

    <select id="selById" resultMap="goodsMap">
        select * from t_goods where g_id = #{id}
    </select>
    <update id="updGoods" parameterType="goods"  >
        update t_goods
        <set>
            <if test="name != null and name != ''"> g_name = #{name},</if>
            <if test="category.id != null"> c_id = #{category.id},</if>
            <if test="brand.id != 0"> b_id = #{brand.id},</if>
            <if test="price != 0.000"> g_price = #{price,jdbcType=DECIMAL},</if>
        </set>
        where g_id = #{id}
    </update>
    <insert id="insGoods" parameterType="goods">
        insert into t_goods(g_name,c_id,b_id,g_price) value(#{name,jdbcType=VARCHAR},#{category.id},#{brand.id},#{price,jdbcType=DECIMAL})
    </insert>
    <select id="selLike" resultMap="goodsMap">
        select * from t_goods
        where
        g_id = #{param2} or
        g_name like concat('%',#{param2,javaType=string},'%') or
        c_id = (select c_id from t_category where c_name like concat('%',#{param2,javaType=string},'%')) or
        b_id = (select b_id from t_brand where b_name like concat('%',#{param2,javaType=string},'%'))
    </select>
</mapper>