<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alliswell.mapper.OrderMapper" >
    <resultMap id="orderMap" type="order">
        <id property="id" column="o_id"/>
        <result property="goodsNum" column="o_goods_number"/>
        <result property="totalMoney" column="o_total_money"/>
        <result property="status" column="o_status"/>
        <result property="createTime" column="o_creTime"/>
        <association property="user" javaType="com.alliswell.pojo.User" select="com.alliswell.mapper.UserMapper.selById" column="u_id"/>
    </resultMap>
    <select id="selAll" resultMap="orderMap">
        select * from t_order
    </select>
    <select id="selPaging" resultMap="orderMap">
        select * from t_order limit #{param1},#{param2}
    </select>
    <select id="selCount" resultType="int">
        select count(o_id) from t_order
    </select>
    <insert id="insert" parameterType="orderItem">
        insert into t_order(o_id,u_id,o_goods_number,o_total_money) value(#{id,javaType=String},#{user.uId},#{goodsNum},#{totalMoney,jdbcType=DECIMAL})
    </insert>
</mapper>