<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alliswell.mapper.UserMapper">
    <resultMap id="userMap" type="com.alliswell.pojo.User">
        <id property="uId" column="u_id"/>
        <result property="uName" column="u_name"/>
        <result property="uPwd" column="u_pwd"/>
    </resultMap>
    <select id="selByUser" parameterType="user" resultMap="userMap">
        select * from t_user where u_id=#{uId} and u_pwd = #{uPwd}
    </select>

    <select id="selById" parameterType="int" resultMap="userMap">
        select * from t_user where u_id = #{id}
    </select>
</mapper>